{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<h1>Votre panier</h1>
	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{item.product.name}}</td>
						<td>{{item.product.price}}€</td>
						<td>{{item.quantity}}</td>
						<td>{{item.product.price * item.quantity}}€</td>
						<td>
							<a href="{{path('cart_remove', {id : item.product.id})}}" class="btn btn-danger btn-sm">
								<i class="bi bi-trash-fill"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-end">Total :
					</td>
					<td>{{total}}€</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('cart_validate')}}" class="btn btn-primary btn-sm text-end float-end">Valider le panier</a>
			{% else %}
			<a href="{{path('app_login')}}" class="btn btn-primary btn-sm text-end float-end">Connecter vous avant de valider le panier</a>
		{% endif %}
	{% else %}
		<p>Surprise, c'est vide !</p>
	{% endif %}
{% endblock %}
