{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container p-5">
			<div class="card mt-4">
				<div class="card-header">
					<h1 class="card-title font-weight-bold text-danger h3 mb-3">
						Se connecter
					</h1>
				</div>
				<div class="card-body d-flex flex-column">
					<label for="inputEmail" class="mb-1">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
					<label for="inputPassword" class="mb-1">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<div class="mt-4 d-flex flex-column">
						<a href="{{path('add_user')}}" class="pe-5 align-self-start">Pas de compte ? inscrivez vous ici</a>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-primary text-start align-self-center" type="submit">
							Se connecter
						</button>
					</div>

				</div>
			</div>
		</div>
	</form>
{% endblock %}
