{% extends 'base.html.twig' %}

{% block title %}Astrasneaker | Accueil
{% endblock %}

{% block body %}

			<div id="carouselExampleDark" class="carousel carousel-dark slide mt-3 shadow" data-bs-ride="carousel">
			  <div class="carousel-indicators">
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-bs-interval="10000">
			      <img src="{{ photourlcar ~ '/' ~ "car_1.jpg"}}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5 class="fs-1">Arrivée Exceptionnelle</h5>
			        <p>Nouvelle AstraZeneck Sneaker</p>
			      </div>
			    </div>
			    <div class="carousel-item" data-bs-interval="2000">
			      <img src="{{ photourlcar ~ '/' ~ "car_2.jpg"}}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Envie de couleur?</h5>
			        <p>Découvrez nos collections de printemps.</p>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <img src="{{ photourlcar ~ '/' ~ "car_3.jpg"}}" class="d-block w-100" alt="...">
			      <div class="carousel-caption d-none d-md-block">
			        <h5>Xls Phantom - Ltd</h5>
			        <p>Découvrez la petite dernière de chez Phantom Inc.</p>
			      </div>
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
		
		{# affichage des fiches produits #}
	
		<h2 class="mt-5 text-center ">Meilleures ventes</h2>
		<div class="border-bottom"></div>
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-2">
			{% for product in products %}
		
			<div class="col p-3">
						<div class="card h-100 rounded border-0 shadow">
							{% if product.stock < 10 %}
							<div class="position-absolute px-2 mt-3 bg-danger shadow rounded-end text-white">Plus que {{product.stock}} ex. en stock!</div>
							{% endif %}
							<img src="{{ photourl ~ '/' ~ product.photoFileName}}" class="card-img-top" alt="...">
							<div class="card-body bg-p mb-0 pb-0">
								<h6 class="card-title fst-italic brand-title">{{ product.getBrand() }}</h6>
								<h5 class="card-title fw-bold model-title">{{ product.name }}</h5>
								<p class="card-text description-text">{{(product.description|striptags| u.truncate(100, "..."))|raw}}</p>
							</div>
							<form class="card-footer d-flex justify-content-end bg-white border-top-0 align-items-center mb-2">
								<div class="row">
									<div class="card-footer d-flex justify-content-end bg-white border-top-0 align-items-center mb-2 me-2">
										<label for="size_search" class="me-2 fst-italic">Pointure</label>
										<select class="form-select form-select-sm"   style="width: 70px" id="size_search" aria-label=".form-select-sm example" name="size_search">
										{% for size in sizes %}
											<option value="{{size}}">{{size}}</option>
										{% endfor %}
										</select>
									</div>
									<div class="card-footer d-flex justify-content-end bg-white border-top-0 align-items-center mb-2 me-2">
										<button class="mx-2 btn rounded-2 btn-white btn-sm" type="submit" formaction="{{path('singleProduct', {id: product.id})}}"><i class="bi bi-info-circle"></i></button>
										<button class="btn rounded-2 btn-dark btn-md" type="submit" formaction="{{path('homepage')}}"><i class="bi bi-cart"></i></button>
										<button class="btn rounded-2 btn-primary btn-md ms-1" type="submit" formaction="{{path('homepage')}}">Acheter</button>
									</div>
								</div>
							</form>
							<div class="card-footer d-flex justify-content-between align-items-center bg-primary">
								<small class="text-muted py-auto card-footer-text">Stock : {{product.stock}}</small>
								<small class="text-muted fs-3 fw-bold card-footer-text">{{product.price}}€</small>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>
		
		
		<div class="p-5 text-center mb-100px">
				{% if previous >= 0 %}
					<a href="{{ path('homepage', { offset: previous }) }}" class="btn btn-sm btn-secondary"><<</a>
				{% endif %}
					<p class="d-inline mx-2">Il y a {{ products|length~' produit'~( products|length > 1 ? 's' : '') }}</p>
				{% if next < products|length %}
				<a href="{{ path('homepage', { offset: next }) }}" class="btn btn-sm btn-secondary">>></a>
				{% endif %}
		</div>
		
	

{% endblock %}
