{% extends 'base.html.twig' %}

{% block title %}Astrasneaker | Nos sneakers
{% endblock %}

{% block body %}

	
	{# affichage des fiches produits #}
	
		<h2 class="mt-5 text-center">Découvrez la sneaker de vos rêves</h2>
		<div class="border-bottom"></div>

	<div class="container">
			
			<div class="row">

				<div class="col-sm-2 mt-2">

					{# <form class="my-5">

						<div class="row form-group my-1">
							<div class="col-sm-6">
								<select type="text" class="form-control" id="brand_search" name="brand_search">
								<option value="">--Merci de choisir une option -> Marque <- --</option>
								{% for brand in brands %}
								<option {{ (brand == brand_search ? 'selected') }}>{{ brand }}</option>
								{% endfor %}
								</select>
							</div>
						</div>
						<div class="row form-group my-1">
							<div class="col-sm-6">
								<select type="text" class="form-control" id="name_search" name="name_search">
								<option value="">--Merci de choisir une option -> Nom <- --</option>
								{% for name in names %}
								<option {{ (name == name_search ? 'selected') }}>{{ name }}</option>
								{% endfor %}
								</select>
							</div>
						</div>
						
						<button type="submit" class="btn btn-primary mt-3">Rechercher</button>
					
					</form> #}
				

					<form class="my-5">

						<h3>Modèles</h3>	
						{% for name in names %}
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="{{name}}" name="name_search" value="{{name}}" {{ (name == name_search ? 'checked') }} >
							<label class="form-check-label" for={{name}}>{{name}}</label>
						</div>
						{% endfor %}
					
						<h3 class="mt-5">Prix</h3>
						{% for price in prices %}
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="{{price}}" name="price_search" value="{{price}}" {{ (price == price_search ? 'checked') }} >
							<label class="form-check-label" for={{price}}>{{price}}</label>
						</div>
						{% endfor %}
						

						{# <div class="form-check">
							
							<input class="form-check-input" type="checkbox" 
							value="{{ name }}" id="" name="name_search" 
							>
							<label class="form-check-label" for="name_search">
								{{name}}
							</label>
							
						</div> #}
						{# <div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
							<label class="form-check-label" for="flexCheckChecked">
								Checked checkbox
							</label>
						</div> #}
													
						<button type="submit" class="btn btn-primary mt-3">Rechercher</button>
					
					</form>
				</div>
				
				
				<div class="row col-sm-10 mt-2">
					{% for product in products %}
				
					<div class="col-4 p-3">
						<div class="card h-100 rounded-0 border-0 shadow-sm">
							<img src="{{ photourl ~ '/' ~ product.photoFileName}}" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title fs-3 fw-bold">{{ product.name }}</h5>
								<p class="card-text">{{ product.description | u.truncate(50, "...")}} </p>
								<a href="{{path('productslist')}}" class="btn rounded-0 btn-secondary">Acheter</a>
							</div>
						<div class="card-footer d-flex justify-content-between">
							<small class="text-muted py-auto">Stock : {{product.stock}}</small>
							<small class="text-muted fs-3 fw-bold">{{product.price}}€</small>
						</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			
	</div>
		
		<div class="p-5 text-center mb-100px">
				{% if previous >= 0 %}
				<a href="{{ path('productslist', { offset: previous }) }}" class="btn btn-sm btn-secondary"><<</a>
				{% endif %}
				{# Il y a {{ products|length~' produit'~( products|length > 1 ? 's' : '') }} #}
				{% if next < products|length %}
				<a href="{{ path('productslist', { offset: next }) }}" class="btn btn-sm btn-secondary">>></a>
				{% endif %}
		</div>
		
	


{% endblock %}
