{% extends 'base.html.twig' %}

{% block title %}
  Astrasneaker | {{ product.name }}
{% endblock %}

{% block body %}
  <div class="container my-4">
    <div class="card">
      <div class="card-body">
        <div class="row mt-5">
          <div class="col-lg-6">
            <div class="white-box text-center mb-5">
              <img src="https://via.placeholder.com/400x400/00CED1/000000"
              {# {{ photourl ~ '/' ~ product.photoFileName}} #}
                class="img-responsive" />
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="card-title fs-1 fw-bold">
            {{ product.name }}
            </h3>
            <h6 class="card-subtitle fs-italic">
            {{ product.brand }}
            </h6>
            <h2 class="m fs-1">
              {{ product.price }}€
            </h2>
            <button class="btn btn-dark btn-rounded mr-1"
              data-toggle="tooltip"
              title=""
              data-original-title="Add to cart">
              <i class="bi bi-cart"></i>
            </button>
            <button class="btn btn-primary btn-rounded">Acheter</button>
            <h4 class="box-title mt-3">
              Description
            </h4>
            <p>
              {{ product.description }}
            </p>
            <h3 class="box-title mt-3">
              Points-clés
            </h3>
            <ul class="list-unstyled">
              <li><i class="bi bi-check-circle"></i> Cuir de Normandie</li>
              <li>
                <i class="bi bi-check-circle"></i> Conçue en France
              </li>
              <li>
                <i class="bi bi-check-circle"></i> Garantie à vie*
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
